@CHARSET "UTF-8";

      body {
          padding-top: 50px;
          padding-bottom: 40px;
          color: #5a5a5a;
      }

/* 下面是左侧导航栏的代码 */
 .sidebar {
    position: fixed;
    top: 31px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background:none repeat scroll 0 0 #2e363f;
    border-right: 1px solid #eee;
} 
a{
	color:#bbb;
}

.nav-sidebar {
    margin-right: -21px;
    margin-left: -20px;
}
.nav-sidebar > li{
	border-top:1px solid #37414b;
	border-bottom:1px solid #1f262d;
}
.nav-sidebar > li > a {
    padding-right: 30px;
    padding-left: 30px;
}
.nav-sidebar > li >ul >li> a {
    padding-left: 60px;
}
.nav > li >a:hover{
	background-color:#000;
	color:#fff;
}
.nav > li > ul > li >a:hover{
	background-color:#28b779;
	color:#fff;
}
.pama{
	margin-left:15px;
	margin-right:15px;
}