		   <div class="row sidebar-box purple" style="margin-top:0;">
						
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<div class="sidebar-box-heading">
								<i class="icons icon-folder-open-empty"></i>
								<h4>商品分类</h4>
							</div>
							
							<div class="sidebar-box-content">
								<ul>
									<li><a href="#">智能手机 <i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">平板电脑 <i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">单反相机 <i class="icons icon-right-dir"></i></a>
                                    	 <ul class="sidebar-dropdown">
                                        	<li>
                                            	<ul>
                                                	<li><a href="#">Cell phones &amp; Smartphone</a></li>
                                                    <li><a href="#">Cell Phone Accessories</a></li>
                                                    <li><a href="#">Headsets</a></li>
                                                    <li><a href="#">Cases, Covers & Skins</a></li>
                                                    <li><a href="#">Screen Protectors</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                            	<ul>
                                                	<li><a href="#">Chargers & Cradles</a></li>
                                                    <li><a href="#">Batteries</a></li>
                                                    <li><a href="#">Cables & Adapters</a></li>
                                                    <li><a href="#">All About Smartphones</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
									<li><a href="#">手机<i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">电脑 <i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">相机 <i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">配件 <i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">服务 <i class="icons icon-right-dir"></i></a></li>
									<li><a class="purple" href="#">更多分类</a></li>
								</ul>
							</div>
							
						</div>
							
					</div>
