<include file="Public:header" />
			<!-- Content -->
			<div class="row content">
				
                <div class="col-lg-12 col-md-12 col-sm-12">
                	<div class="breadcrumbs">
                    	<p><a href="#">主页</a> <i class="icons icon-right-dir"></i> 关于我们</p>
                    </div>
                </div>
                
				<!-- Main Content -->
				<section class="main-content col-lg-9 col-md-9 col-sm-9">
                    
                    
                    <div class="row">
                    	
                        <div class="col-lg-12 col-md-12 col-sm-12">
                        	
                            <div class="carousel-heading no-margin">
                                <h4>关于我们</h4>
                            </div>
                            
                            <div class="page-content">
                            	
                                <p>这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站</p>
                                
                                <p><img class="align-left" src="__PUBLIC__/homeshop/img/sample.jpg" alt="">这是一个基于这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站</p>
                                
                                 <p>这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站</p>
								 <p>这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站</p>
								 <p>这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站这是一个基于thinkphp框架的购物网站</p>
                                
                            </div>
                            
                    	</div>
                          
                    </div>
                        
                    
				</section>
				<!-- /Main Content -->
                
                
                <!-- Sidebar -->
				<aside class="sidebar col-lg-3 col-md-3 col-sm-3 right-sidebar">
					
					<!-- Categories -->
						<include file="Public:category" />
					<!-- /Categories -->
                    
                    
					<!-- Carousel -->
					<div class="row sidebar-box">
						
						<div class="col-lg-12 col-md-12 col-sm-12 sidebar-carousel">
							
							<!-- Slider -->
							<section class="sidebar-slider">
								<div class="sidebar-flexslider">
									<ul class="slides">
										<li>
											<a href="#"><img src="__PUBLIC__/homeshop/img/sidebar-slide1.jpg" alt="Slide1"></a>
										</li>
										<li>
											<a href="#"><img src="__PUBLIC__/homeshop/img/sidebar-slide2.jpg" alt="Slide1"></a>
										</li>
										<li>
											<a href="#"><img src="__PUBLIC__/homeshop/img/sidebar-slide3.jpg" alt="Slide1"></a>
										</li>
									</ul>
								</div>
								<div class="slider-nav"></div>
							</section>
							<!-- /Slider -->
                            
						</div>
						
					</div>
					<!-- /Carousel -->
                    
				</aside>
                <!-- /Sidebar -->
                
			</div>
			<!-- /Content -->
<include file="Public:footer" />