<include file="Public:header" />
	<!-- Content -->
			<div class="row content">
				
                <div class="col-lg-12 col-md-12 col-sm-12">
                	<div class="breadcrumbs">
                    	<p><a href="index.html">首页</a> <i class="icons icon-right-dir"></i> 联系我们</p>
                    </div>
                </div>
                
				<!-- Main Content -->
				<section class="main-content col-lg-12 col-md-12 col-sm-12">
                    
                    
                    <div class="row">
                    	
                        <div class="col-lg-7 col-md-7 col-sm-7">
                        	
                            <div class="carousel-heading no-margin">
                                <h4>联系信息</h4>
                            </div>
                            
                            <div class="page-content contact-info">
                            	
                                <iframe width="425" height="350" src="http://fm.baidu.com/"></iframe>
								<div class="row">
                                	
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                    	<div class="contact-item green">
                                            <i class="icons icon-location-3"></i>
                                            <p>龙门大道71号,<br>
                                            
洛阳师范学院.</p>
										</div>
                                    </div>
                                    
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                    	<div class="contact-item blue">
                                            <i class="icons icon-mail"></i>
                                            <p><a href="#">web_zhaobei@163.com</a><br>
<a href="#">web_zhaobei@163.com</a>
</p>
										</div>
                                    </div>
                                    
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                    	<div class="contact-item orange">
                                            <i class="icons icon-phone"></i>
                                            <p>182-3882-7991<br>
182-3882-7991
</p>
										</div>
                                    </div>
                                    
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                    	<div class="contact-item purple">
                                            <i class="icons icon-clock"></i>
                                            <p>周一 ——周五: 08.00-20.00<br>
周六: 09.00-15.00<br>
周日: 不营业</p>
										</div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                    	</div>
                        
                        
                        
                        
                        <div class="col-lg-5 col-md-5 col-sm-5">
                        	
                            <div class="carousel-heading no-margin">
                                <h4>联系表</h4>
                            </div>
                            
                            <div class="page-content contact-form">
                            	
								<form id="contact-form" action="{:U('Index/doContact')}" method="post">
								
									<label>姓名(必填)</label>
									<input name="name" type="text" required>
									
									<label>邮箱(必填)</label>
									<input name="email" type="text" required>
									
									<label>主题</label>
									<input name="subject" type="text">
									
									<label>信息</label>
									<textarea name="message"></textarea>
									
									<input class="big" type="submit" value="发送信息">
									
                                </form>
								
                            </div>
                            
                    	</div>
                        
                        
                  	</div>
                    
				</section>
				<!-- /Main Content -->
                
                
			</div>
			<!-- /Content -->
<include file="Public:footer" />