<include file="Public:header" />

			
			<!-- Content -->
			<div class="row content">
				
				<!-- Main Content -->
				<section class="main-content col-lg-9 col-md-9 col-sm-9 col-lg-push-3 col-md-push-3 col-sm-push-3">
					
					<section class="slider">
						<div class="tp-banner-container">
							<div class="tp-banner" >
								<ul>
									<!-- SLIDE  -->
									<foreach name="goods" item="good">
									<li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
										<!-- MAIN IMAGE -->
										<img src="__ROOT__/Uploads/{$good.list_image}"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
										<!-- LAYERS -->
										<div class="tp-caption skewfromrightshort fadeout"
											data-x="40"
											data-y="60"
											data-speed="500"
											data-start="1200"
											data-easing="Power4.easeOut"><h2>{$good.pro_name} <strong></strong></h2>
										</div>
										<div class="tp-caption skewfromrightshort fadeout"
											data-x="40"
											data-y="140"
											data-speed="500"
											data-start="1200"
											data-easing="Power4.easeOut"><h3>{$good.pro_subname}</h3>
										</div>
										<div class="tp-caption skewfromrightshort fadeout"
											data-x="40"
											data-y="250"
											data-speed="500"
											data-start="1200"
											data-easing="Power4.easeOut"><span>售价 <span class="price">￥{$good.promote_price}</span></span>
										</div>
										<div class="tp-caption skewfromrightshort fadeout"
											data-x="40"
											data-y="300"
											data-speed="500"
											data-start="1200"
											data-easing="Power4.easeOut"><a class="button big red" href="{:U('Home/Product/index' ,array('id'=>$good[id]))}">了解更多</a>
										</div>
									</li>
									</foreach>
								</ul>
							</div>
						</div>
				  	</section>
					
					
					
					<!-- Featured Products -->
					<div class="products-row row">
						
						<!-- Carousel Heading -->
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<div class="carousel-heading">
								<h4>电脑</h4>
								<div class="carousel-arrows">
									<i class="icons icon-left-dir"></i>
									<i class="icons icon-right-dir"></i>
								</div>
							</div>
							
						</div>
						<!-- /Carousel Heading -->
						
						<!-- Carousel -->
						<div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">
							
							<div class="owl-carousel" data-max-items="3">
									
									<!-- Slide -->
									<foreach name="products" item="good">
									<div>
										<!-- Carousel Item -->
										<div class="product">
											
											<div class="product-image">
												<img src="__ROOT__/Uploads/{$good.list_image}" alt="Product1">
												<a href="{:U('Home/Product/index' ,array('id'=>$good[id]))}" class="product-hover">
													<i class="icons icon-eye-1"></i> 快速查看
												</a>
											</div>
											
											<div class="product-info">
												<h5><a href="{:U('Home/Product/index')}">值得拥有</a></h5>
												<span class="price">￥{$good.promote_price}</span>
												<div class="rating readonly-rating" data-score="4"></div>
											</div>
											
											<div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">加入购物车</span>
													</span >
												</span>
												<span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">加入收藏夹</span>
													</span>
												</span>
												<span class="add-to-compare">
													<span class="action-wrapper">
														<i class="icons icon-docs"></i>
														<span class="action-name">加入对比</span>
													</span>
												</span>
											</div>
											
										</div>
										<!-- /Carousel Item -->
									</div>
									</foreach>
									<!-- /Slide -->
									
									
									
									
									
							</div>
						</div>
						<!-- /Carousel -->
						
					</div>
					<!-- /Featured Products -->
					
					
					
					
					<!-- New Collection -->
					<div class="products-row row">
						
						<!-- Carousel Heading -->
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<div class="carousel-heading">
								<h4>手机</h4>
								<div class="carousel-arrows">
									<i class="icons icon-left-dir"></i>
									<i class="icons icon-right-dir"></i>
								</div>
							</div>
							
						</div>
						<!-- /Carousel Heading -->
						
						<!-- Carousel -->
						<div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">
							
							<div class="owl-carousel" data-max-items="3">
									
									<!-- Slide -->
									<foreach name="products" item="good">
									<div>
										<!-- Carousel Item -->
										<div class="product">
											
											<div class="product-image">
												<img src="__ROOT__/Uploads/{$good.list_image}" alt="Product1">
												<a href="{:U('Home/Product/index')}" class="product-hover">
													<i class="icons icon-eye-1"></i> 快速查看
												</a>
											</div>
											
											<div class="product-info">
												<h5><a href="{:U('Home/Product/index')}">值得拥有</a></h5>
												<span class="price">￥{$good.promote_price}</span>
												<div class="rating readonly-rating" data-score="4"></div>
											</div>
											
											<div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">加入购物车</span>
													</span >
												</span>
												<span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">加入收藏夹</span>
													</span>
												</span>
												<span class="add-to-compare">
													<span class="action-wrapper">
														<i class="icons icon-docs"></i>
														<span class="action-name">加入对比</span>
													</span>
												</span>
											</div>
											
										</div>
										<!-- /Carousel Item -->
									</div>
									</foreach>
									<!-- /Slide -->
									
							</div>
						</div>
						<!-- /Carousel -->
						
					</div>
					<!-- /New Collection -->
					



					
					<!-- Random Products -->
					<div class="products-row row">
						
						<!-- Carousel Heading -->
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<div class="carousel-heading">
								<h4>相机</h4>
								<div class="carousel-arrows">
									<i class="icons icon-left-dir"></i>
									<i class="icons icon-right-dir"></i>
								</div>
							</div>
							
						</div>
						<!-- /Carousel Heading -->
						
						<!-- Carousel -->
						<div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">
							
							<div class="owl-carousel" data-max-items="3">
									
									<!-- Slide -->
								<foreach name="products" item="good">
									<div>
										<!-- Carousel Item -->
										<div class="product">
											
											<div class="product-image">
												<img src="__ROOT__/Uploads/{$good.list_image}" alt="Product1">
												<a href="{:U('Home/Product/index')}" class="product-hover">
													<i class="icons icon-eye-1"></i> 快速查看
												</a>
											</div>
											
											<div class="product-info">
												<h5><a href="{:U('Home/Product/index')}">值得拥有</a></h5>
												<span class="price">￥{$good.promote_price}</span>
												<div class="rating readonly-rating" data-score="4"></div>
											</div>
											
											<div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">加入购物车</span>
													</span >
												</span>
												<span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">加入收藏夹</span>
													</span>
												</span>
												<span class="add-to-compare">
													<span class="action-wrapper">
														<i class="icons icon-docs"></i>
														<span class="action-name">加入对比</span>
													</span>
												</span>
											</div>
											
										</div>
										<!-- /Carousel Item -->
									</div>
									</foreach>
									<!-- /Slide -->
							</div>
						</div>
						<!-- /Carousel -->
						
					</div>
					<!-- /Random Products -->
					
					


					<!-- Product Brands -->
					<div class="products-row row">
						
						<!-- Carousel Heading -->
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<div class="carousel-heading">
								<h4>配件</h4>
								<div class="carousel-arrows">
									<i class="icons icon-left-dir"></i>
									<i class="icons icon-right-dir"></i>
								</div>
							</div>
							
						</div>
						<!-- /Carousel Heading -->
						
						<!-- Carousel -->
						<div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">
							
							<div class="owl-carousel" data-max-items="5">
									
									<!-- Slide -->
									<foreach name="products" item="good">
									<div>
										<!-- Carousel Item -->
										<div class="product">
											
											<div class="product-image">
												<img src="__ROOT__/Uploads/{$good.list_image}" alt="Product1">
												<a href="{:U('Home/Product/index')}" class="product-hover">
													<i class="icons icon-eye-1"></i> 快速查看
												</a>
											</div>
											
											<div class="product-info">
												<h5><a href="{:U('Home/Product/index')}">值得拥有</a></h5>
												<span class="price">￥{$good.promote_price}</span>
												<div class="rating readonly-rating" data-score="4"></div>
											</div>
											
							
											
										</div>
										<!-- /Carousel Item -->
									</div>
									</foreach>
									<!-- /Slide -->
							
							</div>
							
						</div>
						<!-- /Carousel -->
						
					</div>
					<!-- /Product Brands -->
					
						
				</section>
				<!-- /Main Content -->
				
				
				
				
				<!-- Sidebar -->
				<aside class="sidebar col-lg-3 col-md-3 col-sm-3  col-lg-pull-9 col-md-pull-9 col-sm-pull-9">
					
					<!-- Categories -->
				<!-- <include file="Public:category" /> -->
						   <div class="row sidebar-box purple" style="margin-top:0;">
						
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<div class="sidebar-box-heading">
								<i class="icons icon-folder-open-empty"></i>
								<h4>商品分类</h4>
							</div>
							
							<div class="sidebar-box-content">
								<ul>
									<li><a href="#">智能手机 <i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">平板电脑 <i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">单反相机 <i class="icons icon-right-dir"></i></a>
                                    	 <ul class="sidebar-dropdown">
                                        	<li>
                                            	<ul>
                                                	<li><a href="#">平板电脑&&笔记本&&超级本</a></li>
                                                    <li><a href="#">平板电脑&&笔记本&&超级本</a></li>
                                                    <li><a href="#">平板电脑&&笔记本&&超级本</a></li>
                                                    <li><a href="#">平板电脑&&笔记本&&超级本</a></li>
                                                    <li><a href="#">平板电脑&&笔记本&&超级本</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                            	<ul>
                                                	<li><a href="#">平板电脑&&笔记本&&超级本</a></li>
                                                    <li><a href="#">平板电脑&&笔记本&&超级本</a></li>
                                                    <li><a href="#">平板电脑&&笔记本&&超级本</a></li>
                                                    <li><a href="#">平板电脑&&笔记本&&超级本</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
									<li><a href="#">手机<i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">电脑 <i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">相机 <i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">配件 <i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">服务 <i class="icons icon-right-dir"></i></a></li>
									<li><a class="purple" href="#">更多分类</a></li>
								</ul>
							</div>
							
						</div>
							
					</div>
				
					<!-- /Categories -->
					
					
					<!-- Compare Products -->
					<div class="row sidebar-box blue">
						
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<div class="sidebar-box-heading">
                            	<i class="icons icon-docs"></i>
								<h4>商品对比</h4>
							</div>
							
							<div class="sidebar-box-content sidebar-padding-box">
								<p>您还没有商品对比</p>
							</div>
							
						</div>
						
					</div>
					<!-- /Compare Products -->
					
					
					<!-- Carousel -->
					<div class="row sidebar-box">
						
						<div class="col-lg-12 col-md-12 col-sm-12 sidebar-carousel">
							
							<!-- Slider -->
							<section class="sidebar-slider">
								<div class="sidebar-flexslider">
									<ul class="slides">
										<li>
											<a href="#"><img src="__PUBLIC__/homeshop/img/sidebar-slide1.jpg" alt="Slide1"></a>
										</li>
										<li>
											<a href="#"><img src="__PUBLIC__/homeshop/img/sidebar-slide2.jpg" alt="Slide1"></a>
										</li>
										<li>
											<a href="#"><img src="__PUBLIC__/homeshop/img/sidebar-slide3.jpg" alt="Slide1"></a>
										</li>
									</ul>
								</div>
								<div class="slider-nav"></div>
							</section>
							<!-- /Slider -->
                            
						</div>
						
					</div>
					<!-- /Carousel -->
					
					
					<!-- Bestsellers -->
					<div class="row sidebar-box red">
						
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<div class="sidebar-box-heading">
                            <i class="icons icon-award-2"></i>
								<h4>手机</h4>
							</div>
							
							<div class="sidebar-box-content">
								<table class="bestsellers-table">
									
									<tr>
										<td class="product-thumbnail"><a href="#"><img src="__PUBLIC__/homeshop/img/products/sample1.jpg" alt="Product1"></a></td>
										<td class="product-info">
											<p><a href="#">值得拥有</a></p>
											<span class="price">￥550</span>
										</td>
									</tr>
									
									<tr>
										<td class="product-thumbnail"><a href="#"><img src="__PUBLIC__/homeshop/img/products/sample2.jpg" alt="Product1"></a></td>
										<td class="product-info">
											<p><a href="#">值得拥有</a></p>
											<span class="price">￥550</span>
										</td>
									</tr>
									
									<tr>
										<td class="product-thumbnail"><a href="#"><img src="__PUBLIC__/homeshop/img/products/sample3.jpg" alt="Product1"></a></td>
										<td class="product-info">
											<p><a href="#">值得拥有</a></p>
                                            <div class="rating readonly-rating" data-score="4"></div>
											<span class="price"><del>￥650</del> ￥550</span>
										</td>
									</tr>
									
								</table>
							</div>
							
						</div>
						
					</div>
					<!-- /Bestsellers -->
					
					
					<!-- Tag Cloud -->
					<div class="row sidebar-box green">
						
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<div class="sidebar-box-heading">
                            	<i class="icons icon-tag-6"></i>
								<h4>标签</h4>
							</div>
							
							<div class="sidebar-box-content sidebar-padding-box">
								<a href="#" class="tag-item">手机</a>
								<a href="#" class="tag-item">相机</a>
								<a href="#" class="tag-item">电脑</a>
								<a href="#" class="tag-item">耳机</a>
								<a href="#" class="tag-item">笔记本</a>
								<a href="#" class="tag-item">台式机</a>
								<a href="#" class="tag-item">内存卡</a>
								<a href="#" class="tag-item">显示屏</a>
							</div>
								
						</div>
						
					</div>
					<!-- /Tag Cloud -->
					
					
					<!-- Specials -->
					<div class="row products-row sidebar-box orange">
						 
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<!-- Carousel Heading -->
							<div class="carousel-heading no-margin">
								
								<h4><i class="icons icon-magic"></i> 特别款</h4>
								<div class="carousel-arrows">
									<i class="icons icon-left-dir"></i>
									<i class="icons icon-right-dir"></i>
								</div>
								
							</div>
							<!-- /Carousel Heading -->
							
						</div>
						
						<!-- Carousel -->
						<div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">
							
							<div class="owl-carousel" data-max-items="1">
									
								<!-- Slide -->
								<foreach name="products" item="good">
									<div>
										<!-- Carousel Item -->
										<div class="product">
											
											<div class="product-image">
												<img src="__ROOT__/Uploads/{$good.list_image}" alt="Product1">
												<a href="{:U('Home/Product/index')}" class="product-hover">
													<i class="icons icon-eye-1"></i> 快速查看
												</a>
											</div>
											
											<div class="product-info">
												<h5><a href="{:U('Home/Product/index')}">值得拥有</a></h5>
												<span class="price">￥{$good.promote_price}</span>
												<div class="rating readonly-rating" data-score="4"></div>
											</div>
											
											<div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">加入购物车</span>
													</span >
												</span>
												<span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">加入收藏夹</span>
													</span>
												</span>
												<span class="add-to-compare">
													<span class="action-wrapper">
														<i class="icons icon-docs"></i>
														<span class="action-name">加入对比</span>
													</span>
												</span>
											</div>
											
										</div>
										<!-- /Carousel Item -->
									</div>
									</foreach>
								<!-- /Slide -->
								
							</div>
						
						</div>
						<!-- / Carousel -->
						
						
					</div>
					<!-- /Specials -->
					
					
				</aside>
				<!-- /Sidebar -->
				
			</div>
			<!-- /Content -->
			
			
			


			<!-- News -->
			<div class="products-row row">
				
				<!-- Carousel Heading -->
				<div class="col-lg-12 col-md-12 col-sm-12">
					
					<div class="carousel-heading">
						<h4>新闻</h4>
						<div class="carousel-arrows">
							<i class="icons icon-left-dir"></i>
							<i class="icons icon-right-dir"></i>
						</div>
					</div>
					
				</div>
				<!-- /Carousel Heading -->
				
				
				<!-- Carousel -->
				<div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">
					
					<div class="owl-carousel" data-max-items="2">
							
						<!-- Slide -->
						<div>
							<!-- Carousel Item -->
							<article class="news">
								
								<div class="news-background">
								
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 news-thumbnail">
											<a href="#"><img src="__PUBLIC__/homeshop/img/news/sample1.jpg" alt="News1"></a>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 news-content">
											<h5><a href="blog_post.html">Lorem Ipsum</a></h5>
											<span class="date"><i class="icons icon-clock-1"></i> 23 April, 2012</span>
											<p>Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh.</p>
										</div>
									</div>
									
								</div>
								
							</article>
							<!-- /Carousel Item -->
						</div>
						<!-- /Slide -->
						
						
						<!-- Slide -->
						<div>
							
							<!-- Carousel Item -->
							<article class="news">
								
								<div class="news-background">
								
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 news-thumbnail">
											<a href="#"><img src="__PUBLIC__/homeshop/img/news/sample2.jpg" alt="News1"></a>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 news-content">
											<h5><a href="blog_post.html">Lorem Ipsum</a></h5>
											<span class="date"><i class="icons icon-clock-1"></i> 23 April, 2012</span>
											<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Suspendisse sollicitudin.</p>
										</div>
									</div>
								
								</div>
								
							</article>
							<!-- /Carousel Item -->
							
						</div>
						<!-- /Slide -->
						
						
						
						<!-- Slide -->
						<div>
							
							<!-- Carousel Item -->
							<article class="news">
								
								<div class="news-background">
								
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 news-thumbnail">
											<a href="#"><img src="__PUBLIC__/homeshop/img/news/sample2.jpg" alt="News1"></a>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 news-content">
											<h5><a href="blog_post.html">Lorem Ipsum</a></h5>
											<span class="date"><i class="icons icon-clock-1"></i> 23 April, 2012</span>
											<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Suspendisse sollicitudin.</p>
										</div>
									</div>
								
								</div>
								
							</article>
							<!-- /Carousel Item -->
							
						</div>
						<!-- /Slide -->
						
						
						
						
						<!-- Slide -->
						<div>
							
							<!-- Carousel Item -->
							<article class="news">
								
								<div class="news-background">
								
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 news-thumbnail">
											<a href="#"><img src="__PUBLIC__/homeshop/img/news/sample2.jpg" alt="News1"></a>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 news-content">
											<h5><a href="blog_post.html">Lorem Ipsum</a></h5>
											<span class="date"><i class="icons icon-clock-1"></i> 23 April, 2012</span>
											<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Suspendisse sollicitudin.</p>
										</div>
									</div>
								
								</div>
								
							</article>
							<!-- /Carousel Item -->
							
						</div>
						<!-- /Slide -->
						
						
						
						
						<!-- Slide -->
						<div>
							
							<!-- Carousel Item -->
							<article class="news">
								
								<div class="news-background">
								
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 news-thumbnail">
											<a href="#"><img src="__PUBLIC__/homeshop/img/news/sample2.jpg" alt="News1"></a>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 news-content">
											<h5><a href="blog_post.html">Lorem Ipsum</a></h5>
											<span class="date"><i class="icons icon-clock-1"></i> 23 April, 2012</span>
											<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Suspendisse sollicitudin.</p>
										</div>
									</div>
								
								</div>
								
							</article>
							<!-- /Carousel Item -->
							
						</div>
						<!-- /Slide -->
						
						
					</div>
				
				</div>
				<!-- /Carousel -->
				
			</div>
			<!-- /News -->
			


			
<include file="Public:footer" />