<include file="Public:header" />
<!-- Main Content -->
		<div class="row content">
            	
                
                <div class="col-lg-12 col-md-12 col-sm-12">
                	<div class="breadcrumbs">
                    	<p><a href="{:U('Home/Index/index')}">首页</a> <i class="icons icon-right-dir"></i> <a href="#">电脑</a> <i class="icons icon-right-dir"></i> {$pro.pro_name}</p>
                    </div>
                </div>
                
				<section class="main-content col-lg-9 col-md-9 col-sm-9">
					
					
                    <div id="product-single">
					
						<!-- Product -->
						<div class="product-single">
							
							<div class="row">
								
								<!-- Product Images Carousel -->
								<div class="col-lg-5 col-md-5 col-sm-5 product-single-image">
									
									<div id="product-slider">
										<ul class="slides">
											<li>
												<img class="cloud-zoom" src="__PUBLIC__/homeshop/img/products/single1.jpg" data-large="__PUBLIC__/img/products/sample1.jpg" alt="" />
												<a class="fullscreen-button" href="__PUBLIC__/img/products/single1.jpg">
													<div class="product-fullscreen">
														<i class="icons icon-resize-full-1"></i>
													</div>
												</a>
											</li>
										</ul>
									</div>
									<div id="product-carousel">
										<ul class="slides">
											<li>
												<a class="fancybox" rel="product-images" href="__ROOT__/Uploads/{$pro.feater1}"></a>
												<img src="__ROOT__/Uploads/{$pro.feater1}" data-large="__ROOT__/Uploads/{$pro.feater1}" alt="">
											</li>
											<li>
												<a class="fancybox" rel="product-images" href="__ROOT__/Uploads/{$pro.feater2}"></a>
												<img src="__ROOT__/Uploads/{$pro.feater2}" data-large="__ROOT__/Uploads/{$pro.feater2}" alt="">
											</li>
											<li>
												<a class="fancybox" rel="product-images" href="__ROOT__/Uploads/{$pro.feater3}"></a>
												<img src="__ROOT__/Uploads/{$pro.feater3}" data-large="__ROOT__/Uploads/{$pro.feater3}" alt="">
											</li>
											<li>
												<a class="fancybox" rel="product-images" href="__ROOT__/Uploads/{$pro.feater4}"></a>
												<img src="__ROOT__/Uploads/{$pro.feater4}" data-large="__ROOT__/Uploads/{$pro.feater4}" alt="">
											</li>
											<li>
												<a class="fancybox" rel="product-images" href="__ROOT__/Uploads/{$pro.feater5}"></a>
												<img src="__ROOT__/Uploads/{$pro.feater5}" data-large="__ROOT__/Uploads/{$pro.feater5}" alt="">
											</li>
										</ul>
										<div class="product-arrows">
											<div class="left-arrow">
												<i class="icons icon-left-dir"></i>
											</div>
											<div class="right-arrow">
												<i class="icons icon-right-dir"></i>
											</div>
										</div>
									</div>
								</div>
								<!-- /Product Images Carousel -->
								
								
								<div class="col-lg-7 col-md-7 col-sm-7 product-single-info">
									
									<h2>{$pro.pro_subname}</h2>
									<div class="rating-box">
										<div class="rating readonly-rating" data-score="4"></div>
										<span>{$pro.click_times}</span>
									</div>
									<table>
										<tr>
											<td>产品名称</td>
											<td><a href="#">{$pro.pro_name}</a></td>
										</tr>
										<tr>
											<td>产品特点</td>
											<td><span class="green">{$pro.keywords}</span> </td>
										</tr>
										<tr>
											<td>产品型号</td>
											<td>{$pro.pro_sn}</td>
										</tr>
									</table>
									
								<!-- 	<strong>产品参数</strong>
									<table>
										<tr>
											<td>产品长度</td>
											<td>10.00000M</td>
										</tr>
										<tr>
											<td>产品宽度</td>
											<td>10.00000M</td>
										</tr>
									</table> -->
									
									<span class="price"><del>￥{$pro.market_price}</del> ￥{$pro.promote_price}</span>
									
									<table class="product-actions-single">
										<tr>
											<td>颜色:</td>
											<td>
												<select class="chosen-select">
													<option>黑</option>
													<option>白</option>
													<option>灰</option>
												</select>
											</td>
										</tr>
										<tr>
											<td>数量:</td>
											<td>
												<div class="numeric-input">
													<input type="number" value="1" min="1" max="10" >
												</div>
												<a href="#">
													<span class="add-to-cart">
														<span class="action-wrapper">
															<i class="icons icon-basket-2"></i>
															<span class="action-name">加入购物车</span>
														</span >
													</span>
												</a>
											</td>
										</tr>
									</table> 
									
									<div class="product-actions">
										<span class="add-to-favorites">
											<span class="action-wrapper">
												<i class="icons icon-heart-empty"></i>
												<span class="action-name">加入收藏夹</span>
											</span>
										</span>
										<span class="add-to-compare">
											<span class="action-wrapper">
												<i class="icons icon-docs"></i>
												<span class="action-name">加入对比</span>
											</span>
										</span>
							
									</div>
									
								</div>
								
							</div>
							
						</div>
						<!-- /Product -->
						
						
						<!-- Product Tabs -->
						<div class="row">
							
							<div class="col-lg-12 col-md-12 col-sm-12">
								
								<div class="tabs">
								
									<div class="tab-heading">
										<a href="#tab1" class="button big">Description</a>
										<a href="#tab2" class="button big">Reviews</a>
										<a href="#tab3" class="button big">Comments</a>
									</div>
									
									<div class="page-content tab-content">
										
										<div id="tab1">
											<p>Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. </p>
											
											<p><strong>Specifications:</strong></p>
											<ul>
												<li><i class="icons icon-right-dir"></i> Speaker type: Hi-Definition MicroSpeaker</li>
												<li><i class="icons icon-right-dir"></i> Frequency range: 25Hz-18.5kHz</li>
												<li><i class="icons icon-right-dir"></i> Impedance (1kHz): 26 Ohms</li>
												<li><i class="icons icon-right-dir"></i> Sensitivity (1mW): 114 dB SPL/mW</li>
												<li><i class="icons icon-right-dir"></i> Cable length (with extension): 18.0 in./45.0 cm (54.0 in./137.1 cm)</li>
											</ul>
											
											<p>Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae, pede. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. <br><br>
	Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae, pede. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. </p>
											<p class="tags home-green"><strong>Tags:</strong> <a href="#" class="tag-item">digital camera</a>
											<a href="#" class="tag-item">lorem</a>
											<a href="#" class="tag-item">gps</a></p>
										</div>
										
										<div id="tab2">
											
											<div class="row">
												
												<div class="col-lg-6 col-md-6 col-sm-6">
													<div class="category-results">
														<p>Results 1-6 of 6</p>
													</div>
												</div>
												
												<div class="col-lg-6 col-md-6 col-sm-6">
													<div class="pagination">
														<a href="#"><div class="previous"><i class="icons icon-left-dir"></i></div></a>
														<a href="#"><div class="page-button">1</div></a>
														<a href="#"><div class="page-button">2</div></a>
														<a href="#"><div class="page-button">3</div></a>
														<a href="#"><div class="next"><i class="icons icon-right-dir"></i></div></a>
													</div>
												</div>
											
											</div>
											
											<ul class="comments">
												<li>
													<p><strong><a href="#">Anna Doe</a></strong></p>
													<span class="date">2013-10-09 09:23</span>
													<i class="icons green icon-thumbs-up-alt"></i>
													<i class="icons sum no-pointer green-sum">1</i>
													<i class="icons red icon-thumbs-down-alt"></i>
													<i class="icons icon-reply"></i>
													<div class="rating-box">
														<div class="rating readonly-rating" data-score="4"></div>
													</div>
													<br>
													<p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.</p>
													
												</li>
												<li>
													<p><strong><a href="#">Anna Doe</a></strong></p>
													<span class="date">2013-10-09 09:23</span>
													<i class="icons green icon-thumbs-up-alt"></i>
													<i class="icons sum no-pointer">0</i>
													<i class="icons red icon-thumbs-down-alt"></i>
													<i class="icons icon-reply"></i>
													<div class="rating-box">
														<div class="rating readonly-rating" data-score="4"></div>
													</div>
													<br>
													<p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.</p>
													
													<ul>
														<li>
															<p><strong><a href="#">Anna Doe</a></strong></p>
															<p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.</p>
														</li>
													</ul>
												</li>
												<li>
													<p><strong><a href="#">Anna Doe</a></strong></p>
													<span class="date">2013-10-09 09:23</span>
													<i class="icons green icon-thumbs-up-alt"></i>
													<i class="icons sum no-pointer red-sum">-2</i>
													<i class="icons red icon-thumbs-down-alt"></i>
													<i class="icons icon-reply"></i>
													<div class="rating-box">
														<div class="rating readonly-rating" data-score="4"></div>
													</div>
													<br>
													<p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.</p>
													
												</li>
											</ul>
											
											<h3>WRITE A REVIEW</h3>
											<p>Now please write a (short) review....(min. 200, max. 2000 characters)</p>
											<textarea id="review-textarea"></textarea>
											<p>First: Rate the product. Please select a rating between 0 (poorest) and 5 stars (best)</p>
											<div class="rating-box">
												Rating: 
												<div class="rating rate" data-score="3"></div>
											</div>
											<div class="char-counter">
												<label>Characters written</label>
												<input data-target="#review-textarea" type="text">
											</div>
											<br>
											<input type="submit" class="dark-blue big" value="Submit a review">
											
											
										</div>
										
										<div id="tab3">
											<ul class="comments">
												<li>
													<p><strong><a href="#">Anna Doe</a></strong></p>
													<span class="date">2013-10-09 09:23</span>
													<i class="icons icon-reply"></i>
													<p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.</p>
													
												</li>
												<li>
													<p><strong><a href="#">Anna Doe</a></strong></p>
													<span class="date">2013-10-09 09:23</span>
													<i class="icons icon-reply"></i>
													<p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.</p>
													
													<ul>
														<li>
															<p><strong><a href="#">Anna Doe</a></strong></p>
															<p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.</p>
														</li>
													</ul>
												</li>
												<li>
													<p><strong><a href="#">Anna Doe</a></strong></p>
													<span class="date">2013-10-09 09:23</span>
													<i class="icons icon-reply"></i>
													<p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.</p>
												</li>
											</ul>
											<a href="#" class="button home-green"><i class="icons icon-spinner"></i> Refresh comments list</a>
											<a href="#" class="button orange"><i class="icons icon-rss"></i> RSS feed for comments to this post</a>
											<br/><br/>
											<div class="row">
												
												<div class="col-lg-6 col-md-6 col-sm-8">
													<h3>ADD A COMMENT</h3>
													<label>Name (required)</label>
													<input type="text">
													<br><br>
													<label>E-mail (required, but will not display)</label>
													<input type="text">
													<br><br>
													<label>Website (required)</label>
													<input type="text">
													<br><br>
													<label>Comment (required)</label>
													<textarea></textarea>
													<br><br>
													<input id="comments-checkbox" type="checkbox"><label for="comments-checkbox">Notify me of follow-up comments</label>
													<br><br>
													<img src="img/captcha.jpg" alt="">
													<br><br>
													<div class="row">
														
														<div class="col-lg-6 col-md-6 col-sm-6">
															<label><a href="#">Refresh</a></label>
															<input type="text">
														</div>
														
													</div>
													<br>
													<input type="submit" value="Submit comment" class="dark-blue big">
													
												</div>
												
											</div>
											
										</div>
										
									</div>
									
								</div>
								
							</div>
							
						</div>
						<!-- /Product Tabs -->
					
					</div>
                    
                    
					<!-- New Collection -->
					<div class="products-row row">
						
						<!-- Carousel Heading -->
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<div class="carousel-heading">
								<h4>Related Products</h4>
								<div class="carousel-arrows">
									<i class="icons icon-left-dir"></i>
									<i class="icons icon-right-dir"></i>
								</div>
							</div>
							
						</div>
						<!-- /Carousel Heading -->
						
						<!-- Carousel -->
						<div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">
							
							<div class="owl-carousel" data-max-items="3">
									
									<!-- Slide -->
									<div>
										<!-- Carousel Item -->
										<div class="product">
											
											<div class="product-image">
												<img src="img/products/sample1.jpg" alt="Product1">
												<a href="products_page_v1.html" class="product-hover">
													<i class="icons icon-eye-1"></i> Quick View
												</a>
											</div>
											
											<div class="product-info">
												<h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
												<span class="price">$281.00</span>
												<div class="rating readonly-rating" data-score="4"></div>
											</div>
											
											<div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">Add to cart</span>
													</span >
												</span>
												<span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Add to wishlist</span>
													</span>
												</span>
												<span class="add-to-compare">
													<span class="action-wrapper">
														<i class="icons icon-docs"></i>
														<span class="action-name">Add to Compare</span>
													</span>
												</span>
											</div>
											
										</div>
										<!-- /Carousel Item -->
									</div>
									<!-- /Slide -->
									
									
									<!-- Slide -->
									<div>
										<!-- Carousel Item -->
										<div class="product">
											
											<div class="product-image">
												<span class="product-tag">Sale</span>
												<img src="img/products/sample2.jpg" alt="Product1">
												<a href="products_page_v1.html" class="product-hover">
													<i class="icons icon-eye-1"></i> Quick View
												</a>
											</div>
											
											<div class="product-info">
												<h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
												<span class="price">$281.00</span>
												<div class="rating readonly-rating" data-score="4"></div>
											</div>
											
											<div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">Add to cart</span>
													</span >
												</span>
												<span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Add to wishlist</span>
													</span>
												</span>
												<span class="add-to-compare">
													<span class="action-wrapper">
														<i class="icons icon-docs"></i>
														<span class="action-name">Add to Compare</span>
													</span>
												</span>
											</div>
											
										</div>
										<!-- /Carousel Item -->
									</div>
									<!-- /Slide -->
									
									
									
									<!-- Slide -->
									<div>
										<!-- Carousel Item -->
										<div class="product">
											
											<div class="product-image">
												<img src="img/products/sample3.jpg" alt="Product1">
												<a href="products_page_v1.html" class="product-hover">
													<i class="icons icon-eye-1"></i> Quick View
												</a>
											</div>
											
											<div class="product-info">
												<h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
												<span class="price">$281.00</span>
												<div class="rating readonly-rating" data-score="4"></div>
											</div>
											
											<div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">Add to cart</span>
													</span >
												</span>
												<span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Add to wishlist</span>
													</span>
												</span>
												<span class="add-to-compare">
													<span class="action-wrapper">
														<i class="icons icon-docs"></i>
														<span class="action-name">Add to Compare</span>
													</span>
												</span>
											</div>
											
										</div>
										<!-- /Carousel Item -->
									</div>
									<!-- /Slide -->
									
									
									
									
									<!-- Slide -->
									<div>
										<!-- Carousel Item -->
										<div class="product">
											
											<div class="product-image">
												<img src="img/products/sample1.jpg" alt="Product1">
												<a href="products_page_v1.html" class="product-hover">
													<i class="icons icon-eye-1"></i> Quick View
												</a>
											</div>
											
											<div class="product-info">
												<h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
												<span class="price">$281.00</span>
												<div class="rating readonly-rating" data-score="4"></div>
											</div>
											
											<div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">Add to cart</span>
													</span >
												</span>
												<span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Add to wishlist</span>
													</span>
												</span>
												<span class="add-to-compare">
													<span class="action-wrapper">
														<i class="icons icon-docs"></i>
														<span class="action-name">Add to Compare</span>
													</span>
												</span>
											</div>
											
										</div>
										<!-- /Carousel Item -->
									</div>
									<!-- /Slide -->
									
									
									
									
									<!-- Slide -->
									<div>
										<!-- Carousel Item -->
										<div class="product">
											
											<div class="product-image">
												<img src="img/products/sample2.jpg" alt="Product1">
												<a href="products_page_v1.html" class="product-hover">
													<i class="icons icon-eye-1"></i> Quick View
												</a>
											</div>
											
											<div class="product-info">
												<h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
												<span class="price">$281.00</span>
												<div class="rating readonly-rating" data-score="4"></div>
											</div>
											
											<div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">Add to cart</span>
													</span >
												</span>
												<span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Add to wishlist</span>
													</span>
												</span>
												<span class="add-to-compare">
													<span class="action-wrapper">
														<i class="icons icon-docs"></i>
														<span class="action-name">Add to Compare</span>
													</span>
												</span>
											</div>
											
										</div>
										<!-- /Carousel Item -->
									</div>
									<!-- /Slide -->
									
									
									
									
									
									<!-- Slide -->
									<div>
										<!-- Carousel Item -->
										<div class="product">
											
											<div class="product-image">
												<img src="img/products/sample3.jpg" alt="Product1">
												<a href="products_page_v1.html" class="product-hover">
													<i class="icons icon-eye-1"></i> Quick View
												</a>
											</div>
											
											<div class="product-info">
												<h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
												<span class="price">$281.00</span>
												<div class="rating readonly-rating" data-score="4"></div>
											</div>
											
											<div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">Add to cart</span>
													</span >
												</span>
												<span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Add to wishlist</span>
													</span>
												</span>
												<span class="add-to-compare">
													<span class="action-wrapper">
														<i class="icons icon-docs"></i>
														<span class="action-name">Add to Compare</span>
													</span>
												</span>
											</div>
											
										</div>
										<!-- /Carousel Item -->
									</div>
									<!-- /Slide -->
									
									
							</div>
						</div>
						<!-- /Carousel -->
						
					</div>
					<!-- /New Collection -->
					



					
					<!-- Recently Viewed Products -->
					<div class="products-row row">
						
						<!-- Carousel Heading -->
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<div class="carousel-heading">
								<h4>Recently Viewed Products</h4>
								<div class="carousel-arrows">
									<i class="icons icon-left-dir"></i>
									<i class="icons icon-right-dir"></i>
								</div>
							</div>
							
						</div>
						<!-- /Carousel Heading -->
						
						
						<!-- Carousel -->
						<div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">
							
							<div class="owl-carousel" data-max-items="3">
									
									<!-- Slide -->
									<div>
										<!-- Carousel Item -->
										<div class="product">
											
											<div class="product-image">
												<img src="img/products/sample4.jpg" alt="Product1">
												<a href="products_page_v1.html" class="product-hover">
													<i class="icons icon-eye-1"></i> Quick View
												</a>
											</div>
											
											<div class="product-info">
												<h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
												<p class="product-categories"><a href="#">Computers &amp; Tablets</a></p>
											</div>
											
										</div>
										<!-- /Carousel Item -->
									</div>
									<!-- /Slide -->
									
									
									<!-- Slide -->
									<div>
										<!-- Carousel Item -->
										<div class="product">
											
											<div class="product-image">
												<img src="img/products/sample5.jpg" alt="Product1">
												<a href="products_page_v1.html" class="product-hover">
													<i class="icons icon-eye-1"></i> Quick View
												</a>
											</div>
											
											<div class="product-info">
												<h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
												<p class="product-categories"><a href="#">Computers &amp; Tablets</a></p>
											</div>
											
										</div>
										<!-- /Carousel Item -->
									</div>
									<!-- /Slide -->
									
									
									
									<!-- Slide -->
									<div>
										<!-- Carousel Item -->
										<div class="product">
											
											<div class="product-image">
												<img src="img/products/sample6.jpg" alt="Product1">
												<a href="products_page_v1.html" class="product-hover">
													<i class="icons icon-eye-1"></i> Quick View
												</a>
											</div>
											
											<div class="product-info">
												<h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
												<p class="product-categories"><a href="#">Computers &amp; Tablets</a></p>
											</div>
											
										</div>
										<!-- /Carousel Item -->
									</div>
									<!-- /Slide -->
									
									
									
									
									<!-- Slide -->
									<div>
										<!-- Carousel Item -->
										<div class="product">
											
											<div class="product-image">
												<img src="img/products/sample7.jpg" alt="Product1">
												<a href="products_page_v1.html" class="product-hover">
													<i class="icons icon-eye-1"></i> Quick View
												</a>
											</div>
											
											<div class="product-info">
												<h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
												<p class="product-categories"><a href="#">Computers &amp; Tablets</a></p>
											</div>
											
										</div>
										<!-- /Carousel Item -->
									</div>
									<!-- /Slide -->
									
									
									
									
									<!-- Slide -->
									<div>
										<!-- Carousel Item -->
										<div class="product">
											
											<div class="product-image">
												<img src="img/products/sample8.jpg" alt="Product1">
												<a href="products_page_v1.html" class="product-hover">
													<i class="icons icon-eye-1"></i> Quick View
												</a>
											</div>
											
											<div class="product-info">
												<h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
												<p class="product-categories"><a href="#">Computers &amp; Tablets</a></p>
											</div>
											
										</div>
										<!-- /Carousel Item -->
									</div>
									<!-- /Slide -->
									
									
									
									
									
									<!-- Slide -->
									<div>
										<!-- Carousel Item -->
										<div class="product">
											
											<div class="product-image">
												<img src="img/products/sample9.jpg" alt="Product1">
												<a href="products_page_v1.html" class="product-hover">
													<i class="icons icon-eye-1"></i> Quick View
												</a>
											</div>
											
											<div class="product-info">
												<h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
												<p class="product-categories"><a href="#">Computers &amp; Tablets</a></p>
											</div>
											
										</div>
										<!-- /Carousel Item -->
									</div>
									<!-- /Slide -->
									
									
							</div>
						</div>
						<!-- /Carousel -->
						
						
					</div>
					<!-- /Recently Viewed Products -->
					
					
					
					<!-- Product Buttons -->
					<div class="row button-row">
						
						<div class="col-lg-5 col-md-5 col-sm-5">
							<a class="button grey regular" href="#"><i class="icons icon-reply"></i> BACK TO: Computers &amp; Tablets</a>
						</div>
						
						<div class="col-lg-7 col-md-7 col-sm-7 align-right">
							<a class="button grey regular" href="#"><i class="icons icon-left-dir"></i> PREVIOUS PRODUCT</a>
							<a class="button grey regular right-icon" href="#">NEXT PRODUCT <i class="icons icon-right-dir"></i></a>
						</div>
					
					</div>
					<!-- /Product Buttons -->
					
					
				</section>
				<!-- /Main Content -->
				
				
				
				
				<!-- Sidebar -->
				<aside class="sidebar right-sidebar col-lg-3 col-md-3 col-sm-3">
					
					<!-- Categories -->
					<div class="row sidebar-box purple">
						
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<div class="sidebar-box-heading">
								<i class="icons icon-basket-2"></i>
								<h4>Categories</h4>
							</div>
							
							<div class="sidebar-box-content">
								<ul>
									<li><a href="#">Cameras &amp; Photography <i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">Computers &amp; Tablets <i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">Cell Phones &amp; Accessories <i class="icons icon-right-dir"></i></a>
                                    	<ul class="sidebar-dropdown">
                                        	<li>
                                            	<ul>
                                                	<li><a href="#">Cell phones &amp; Smartphone</a></li>
                                                    <li><a href="#">Cell Phone Accessories</a></li>
                                                    <li><a href="#">Headsets</a></li>
                                                    <li><a href="#">Cases, Covers & Skins</a></li>
                                                    <li><a href="#">Screen Protectors</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                            	<ul>
                                                	<li><a href="#">Chargers & Cradles</a></li>
                                                    <li><a href="#">Batteries</a></li>
                                                    <li><a href="#">Cables & Adapters</a></li>
                                                    <li><a href="#">All About Smartphones</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
									<li><a href="#">TV, Audio &amp; Surveillance <i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">Video Games &amp; Consoles <i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">Car Audio, Video &amp; GPS <i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">Best Sellers <i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">Shop by Brands <i class="icons icon-right-dir"></i></a></li>
									<li><a class="purple" href="#">All Categories</a></li>
								</ul>
							</div>
							
						</div>
							
					</div>
					<!-- /Categories -->
					
					
					<!-- Compare Products -->
					<div class="row sidebar-box blue">
						
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<div class="sidebar-box-heading">
                            	<i class="icons icon-docs"></i>
								<h4>Compare Products</h4>
							</div>
							<div class="sidebar-box-content">
                                <table class="compare-table">
                                    
                                    <tr>
                                        <td class="product-thumbnail"><img src="img/products/sample1.jpg" alt="Product1"></td>
                                        <td class="product-info">
                                            <p><a href="#">Lorem ipsum dolor sit amet</a></p>
                                            <a href="#" class="remove">Remove</a>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td class="product-thumbnail"><img src="img/products/sample2.jpg" alt="Product1"></td>
                                        <td class="product-info">
                                            <p><a href="#">Lorem ipsum dolor sit amet</a></p>
                                            <a href="#" class="remove">Remove</a>
                                        </td>
                                    </tr>
                                    
                                </table>
                                <div class="padding-box">
                                	<a class="button grey">Go to compare</a>
                                </div>
							</div>
						</div>
						
					</div>
					<!-- /Compare Products -->
					
					
					<!-- Carousel -->
					<div class="row sidebar-box">
						
						<div class="col-lg-12 col-md-12 col-sm-12 sidebar-carousel">
							
							<!-- Slider -->
							<section class="sidebar-slider">
								<div class="sidebar-flexslider">
									<ul class="slides">
										<li>
											<a href="#"><img src="img/sidebar-slide1.jpg" alt="Slide1"></a>
										</li>
										<li>
											<a href="#"><img src="img/sidebar-slide2.jpg" alt="Slide1"></a>
										</li>
										<li>
											<a href="#"><img src="img/sidebar-slide3.jpg" alt="Slide1"></a>
										</li>
									</ul>
								</div>
								<div class="slider-nav"></div>
							</section>
							<!-- /Slider -->
                            
						</div>
						
					</div>
					<!-- /Carousel -->
					
					
					<!-- Bestsellers -->
					<div class="row sidebar-box red">
						
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<div class="sidebar-box-heading">
                            <i class="icons icon-award-2"></i>
								<h4>Bestsellers</h4>
							</div>
							
							<div class="sidebar-box-content">
								<table class="bestsellers-table">
									
									<tr>
										<td class="product-thumbnail"><a href="#"><img src="img/products/sample1.jpg" alt="Product1"></a></td>
										<td class="product-info">
											<p><a href="#">Lorem ipsum dolor sit amet</a></p>
											<span class="price">$550.00</span>
										</td>
									</tr>
									
									<tr>
										<td class="product-thumbnail"><a href="#"><img src="img/products/sample2.jpg" alt="Product1"></a></td>
										<td class="product-info">
											<p><a href="#">Lorem ipsum dolor sit amet</a></p>
											<span class="price">$550.00</span>
										</td>
									</tr>
									
									<tr>
										<td class="product-thumbnail"><a href="#"><img src="img/products/sample3.jpg" alt="Product1"></a></td>
										<td class="product-info">
											<p><a href="#">Lorem ipsum dolor sit amet</a></p>
                                            <div class="rating readonly-rating" data-score="4"></div>
											<span class="price"><del>$650.00</del> $550.00</span>
										</td>
									</tr>
									
								</table>
							</div>
							
						</div>
						
					</div>
					<!-- /Bestsellers -->
					
					
					<!-- Tag Cloud -->
					<div class="row sidebar-box green">
						
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<div class="sidebar-box-heading">
                            	<i class="icons icon-tag-6"></i>
								<h4>Tags Cloud</h4>
							</div>
							
							<div class="sidebar-box-content sidebar-padding-box">
								<a href="#" class="tag-item">digital camera</a>
								<a href="#" class="tag-item">lorem</a>
								<a href="#" class="tag-item">gps</a>
								<a href="#" class="tag-item">headphones</a>
								<a href="#" class="tag-item">ipsum</a>
								<a href="#" class="tag-item">laptop</a>
								<a href="#" class="tag-item">smartphone</a>
								<a href="#" class="tag-item">tv</a>
							</div>
								
						</div>
						
					</div>
					<!-- /Tag Cloud -->
					
					
					<!-- Specials -->
					<div class="row products-row sidebar-box orange">
						 
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<!-- Carousel Heading -->
							<div class="carousel-heading no-margin">
								
								<h4><i class="icons icon-magic"></i> Specials</h4>
								<div class="carousel-arrows">
									<i class="icons icon-left-dir"></i>
									<i class="icons icon-right-dir"></i>
								</div>
								
							</div>
							<!-- /Carousel Heading -->
							
						</div>
						
						<!-- Carousel -->
						<div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">
							
							<div class="owl-carousel" data-max-items="1">
									
								<!-- Slide -->
								<div>
									<!-- Carousel Item -->
									<div class="product">
										
										<div class="product-image">
											<img src="img/products/sample1.jpg" alt="Product1">
											<a href="products_page_v1.html" class="product-hover">
												<i class="icons icon-eye-1"></i> Quick View
											</a>
										</div>
										
										<div class="product-info">
											<h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
											<span class="price">$281.00</span>
											<div class="rating readonly-rating" data-score="4"></div>
										</div>
										
										<div class="product-actions">
											<span class="add-to-cart">
												<span class="action-wrapper">
													<i class="icons icon-basket-2"></i>
													<span class="action-name">Add to cart</span>
												</span >
											</span>
											<span class="add-to-favorites">
												<span class="action-wrapper">
													<i class="icons icon-heart-empty"></i>
													<span class="action-name">Add to wishlist</span>
												</span>
											</span>
											<span class="add-to-compare">
												<span class="action-wrapper">
													<i class="icons icon-docs"></i>
													<span class="action-name">Add to Compare</span>
												</span>
											</span>
										</div>
										
									</div>
									<!-- /Carousel Item -->
								</div>
								<!-- /Slide -->
								
								
								<!-- Slide -->
								<div>
									<!-- Carousel Item -->
									<div class="product">
										
										<div class="product-image">
											<img src="img/products/sample2.jpg" alt="Product1">
											<a href="products_page_v1.html" class="product-hover">
												<i class="icons icon-eye-1"></i> Quick View
											</a>
										</div>
										
										<div class="product-info">
											<h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
											<span class="price">$281.00</span>
											<div class="rating readonly-rating" data-score="4"></div>
										</div>
										
										<div class="product-actions">
											<span class="add-to-cart">
												<span class="action-wrapper">
													<i class="icons icon-basket-2"></i>
													<span class="action-name">Add to cart</span>
												</span >
											</span>
											<span class="add-to-favorites">
												<span class="action-wrapper">
													<i class="icons icon-heart-empty"></i>
													<span class="action-name">Add to wishlist</span>
												</span>
											</span>
											<span class="add-to-compare">
												<span class="action-wrapper">
													<i class="icons icon-docs"></i>
													<span class="action-name">Add to Compare</span>
												</span>
											</span>
										</div>
										
									</div>
									<!-- /Carousel Item -->
								</div>
								<!-- /Slide -->
								
							</div>
						
						</div>
						<!-- / Carousel -->
						
						
					</div>
					<!-- /Specials -->
					
					
				</aside>
				<!-- /Sidebar -->
</div>
 <include file="Public:footer" />