<include file="Public:header" />
<!-- Content -->
			<div class="row content">
				
                <div class="col-lg-12 col-md-12 col-sm-12">
                	<div class="breadcrumbs">
                    	<p><a href="#">首页</a> <i class="icons icon-right-dir"></i> 用户注册</p>
                    </div>
                </div>
                
                
           
                
                
				<!-- Main Content -->
				<section class="main-content col-lg-9 col-md-9 col-sm-9">

                    
                    <div class="row">
                    	
                        <div class="col-lg-12 col-md-12 col-sm-12 register-account">
                        	
                            <div class="carousel-heading no-margin">
                                <h4>邮箱注册</h4>
                            </div>
                            
                            <div class="page-content">
                            	<div class="row">
                                	<div class="col-lg-1 col-md-1 col-sm-1 ">
                                	</div>
                                    <div class="col-lg-11 col-md-11 col-sm-11 ">
                                    	<p><strong><a href="#">已有Tkphp账号</a></strong></p>
                                    </div>
                                    
                                </div>
                                
                                <form action="{:U('Home/User/checkEmail')}" method="post">
                                <div class="row">
                                      	<div class="col-lg-1 col-md-1 col-sm-1 ">
                                	</div>
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                    	<p>邮箱地址*</p>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                    	<input name="email"  type="text">
                                    </div>	
                                    
                                </div>
                                
                                
                               
                                <div class="row">
                                      	<div class="col-lg-1 col-md-1 col-sm-1 ">
                                	</div>
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                    	<p>密&nbsp;&nbsp;&nbsp;&nbsp;码*</p>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                    	<input  name="password" type="password">
                                    </div>	
                                    
                                </div>
                                
                                <div class="row">
                                     	<div class="col-lg-1 col-md-1 col-sm-1 ">
                                	</div>
                                   <div class="col-lg-2 col-md-2 col-sm-2">
                                   	<p>确认密码*</p>
                                   </div>
                                   <div class="col-lg-4 col-md-4 col-sm-4">
                                   	<input name="repassword" type="password">
                                   </div>	
                                   
                               </div>
                       
                       		   <div class="row">
                                    	<div class="col-lg-1 col-md-1 col-sm-1 ">
                                	</div>
                                  <div class="col-lg-2 col-md-2 col-sm-2">
                                  	<p>验证码*</p>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4">
                                  	<input name="code" type="text">
                                  	<img src="{:U('Home/User/code')}"  onclick="this.src=this.src + '?' + Math.random()" alt="">
                                  </div>	
                                   
                               </div>
                                  <div class="row">
                                   
                                     	<div class="col-lg-1 col-md-1 col-sm-1 ">
                                	</div>
                                   <div class="col-lg-6 col-md-6 col-sm-6">
                                   	 <input type="checkbox" checked name="agreement" value="1" /> 我已阅读并接受 <a href="###">《Tkphp服务协议条款》</a> 

                                   </div>	
                                   
                               </div>
                                <div class="row">
                                     <div class="col-lg-2 col-md-2 col-sm-2">
                                     </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                    	<input class="big" type="submit" value="注册">
                                        <input class="big" type="reset" value="取消">
                                    </div>
                                    
                                </div>
                                </form>
                            </div>
                            
                    	</div>
                          
                    </div>
                        
                    
				</section>
				<!-- /Main Content -->
                
                     <!-- Sidebar -->
				<aside class="sidebar col-lg-3 col-md-3 col-sm-3 right-sidebar">
					
					<!-- Categories -->
						<include file="Public:category" />
					<!-- /Categories -->
                    
                    
                    
                  
                    
				</aside>
                <!-- /Sidebar -->
                
			</div>
			<!-- /Content -->
			
	<include file="Public:footer" />		
