<extend name="Public:base" />
<block name="bread_menu">
	<li>
		<a href="#">主页</a> <span class="divider"></span>
	</li>
	<li class="active">
		商品分类
	</li>
</block>
<block name="content">
<div class="pama">
			<h2>分类列表</h2>

			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>
							编号
						</th>
						<th>
							分类名称
						</th>
						<th>
							排序
						</th>
						<th>
							属性
						</th>
						<th>
							操作
						</th>
					</tr>
				</thead>
				<tbody>
				<foreach name="cats" item="cat">
					<tr>
						<td>
							{$cat.id}
						</td>
						<td>
							{$cat.cat_name}
						</td>
						<td>
							{$cat.sort}
						</td>
						<td>
							<if condition="$cat['is_show'] eq 1">可见</if>
                            <if condition="$cat['is_show'] eq 0">不可见       </if>
						</td>
						<td>
						暂时没有
						</td>
					</tr>
				</foreach>           
				</tbody>
			</table>
</div>
</block>