<include file="Public:header" />
	<!-- Content -->
			<div class="row content">
				
                <div class="col-lg-12 col-md-12 col-sm-12">
                	<div class="breadcrumbs">
                    	<p><a href="#">Home</a> <i class="icons icon-right-dir"></i> Compare Products</p>
                    </div>
                </div>
                
				<!-- Main Content -->
				<section class="main-content col-lg-12 col-md-12 col-sm-12">
					
                    <div class="row">
                    
                        <!-- Heading -->
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            
                            <div class="carousel-heading">
                                <h4>Compare Products</h4>
                                <div class="carousel-arrows">
									<a href="#"><i class="icons icon-reply"></i></a>
								</div>
                            </div>
                            
                        </div>
                        <!-- /Heading -->
                        
					</div>	
                    
                    
                    <div class="row">
                    	
                        <div class="col-lg-12 col-md-12 col-sm-12">
                        	
                            <table class="compare-table">
                            	
                                <tr>
                                	<th>Product Name</th>
                                    <td><h5><a href="#">Lorem ipsum dolor</a></h5></td>
                                    <td><h5><a href="#">Lorem ipsum dolor</a></h5></td>
                                    <td><h5><a href="#">Lorem ipsum dolor</a></h5></td>
                                </tr>
                                
                                <tr>
                                	<th>Image</th>
                                    <td class="compare-image"><a href="#"><img src="__PUBLIC__/homeshop/img/products/sample1.jpg" alt="Product1"></a></td>
                                    <td class="compare-image"><a href="#"><img src="__PUBLIC__/homeshop/img/products/sample2.jpg" alt="Product1"></a></td>
                                    <td class="compare-image"><a href="#"><img src="__PUBLIC__/homeshop/img/products/sample3.jpg" alt="Product1"></a></td>
                                </tr>
                                
								<tr>
									<th>Rating</th>
									<td><div class="rating readonly-rating" data-score="2"></div></td>
									<td><div class="rating readonly-rating" data-score="4"></div></td>
									<td><div class="rating readonly-rating" data-score="3"></div></td>
								</tr>
								
                                <tr>
                                	<th>Price</th>
                                    <td><span class="price">$281.00</span></td>
                                    <td><span class="price">$281.00</span></td>
                                    <td><span class="price">$281.00</span></td>
                                </tr>
                                
                                <tr>
                                	<th>Description</th>
                                    <td><p>Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. </p></td>
                                    <td><p>Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. </p></td>
                                    <td><p>Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. </p></td>
                                </tr>
                                
                                <tr>
                                	<th>Manufacturer</th>
                                    <td><p>Manufacturer-1</p></td>
                                    <td><p>Manufacturer-2</p></td>
                                    <td><p>Manufacturer-3</p></td>
                                </tr>
                                
                                <tr>
                                	<th>Availability</th>
                                    <td><p><span class="green">in stock</span> 20 item(s)</p></td>
                                    <td><p><span class="red">out of stock</span> 0 item(s)</p></td>
                                    <td><p><span class="green">in stock</span> 20 item(s)</p></td>
                                </tr>
                                
                                <tr>
                                	<th>Product Code</th>
                                    <td><p>PSB01</p></td>
                                    <td><p>PSB01</p></td>
                                    <td><p>PSB01</p></td>
                                </tr>
                                
                                <tr>
                                	<th>Weight</th>
                                    <td><p>10kg</p></td>
                                    <td><p>10kg</p></td>
                                    <td><p>10kg</p></td>
                                </tr>
                                
                                <tr>
                                	<th>Dimensions<br>(L x W x H)</th>
                                    <td><p>10mm x 10mm x 10mm</p></td>
                                    <td><p>10mm x 10mm x 10mm</p></td>
                                    <td><p>10mm x 10mm x 10mm</p></td>
                                </tr>
                                
                                <tr>
                                	<th>Packaging</th>
                                    <td><p>Empty</p></td>
                                    <td><p>Empty</p></td>
                                    <td><p>Empty</p></td>
                                </tr>
                                
                                <tr>
                                	<th>Units in box</th>
                                    <td><p>Empty</p></td>
                                    <td><p>Empty</p></td>
                                    <td><p>Empty</p></td>
                                </tr>
                                
                                <tr>
                                	<th>Actions</th>
                                    <td>
                                    	<div class="numeric-input">
											<input type="text" value="1">
											<span class="arrow-up"><i class="icons icon-up-dir"></i></span>
											<span class="arrow-down"><i class="icons icon-down-dir"></i></span>
										</div>
                                        <a href="#">
                                            <span class="add-to-cart">
                                                <span class="action-wrapper">
                                                    <i class="icons icon-basket-2"></i>
                                                    <span class="action-name">Add to cart</span>
                                                </span>
                                            </span>
                                        </a>
                                        <a href="#">
                                            <span class="add-to-trash">
                                                <span class="action-wrapper">
                                                    <i class="icons icon-trash-8"></i>
                                                    <span class="action-name">Remove</span>
                                                </span>
                                            </span>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#">
                                            <span class="add-to-cart">
                                                <span class="action-wrapper">
                                                    <i class="icons icon-menu"></i>
                                                    <span class="action-name">Select Option</span>
                                                </span>
                                            </span>
                                        </a>
                                        <a href="#">
                                            <span class="add-to-trash">
                                                <span class="action-wrapper">
                                                    <i class="icons icon-trash-8"></i>
                                                    <span class="action-name">Remove</span>
                                                </span>
                                            </span>
                                        </a>
                                    </td>
                                    <td>
                                    	<div class="numeric-input">
											<input type="text" value="1">
											<span class="arrow-up"><i class="icons icon-up-dir"></i></span>
											<span class="arrow-down"><i class="icons icon-down-dir"></i></span>
										</div>
                                        <a href="#">
                                            <span class="add-to-cart">
                                                <span class="action-wrapper">
                                                    <i class="icons icon-basket-2"></i>
                                                    <span class="action-name">Add to cart</span>
                                                </span>
                                            </span>
                                        </a>
                                        <a href="#">
                                            <span class="add-to-trash">
                                                <span class="action-wrapper">
                                                    <i class="icons icon-trash-8"></i>
                                                    <span class="action-name">Remove</span>
                                                </span>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                                
                                <tr>
                                	<th>Tags</th>
                                    <td><p><a href="#" class="tag-item">digital camera</a>
								<a href="#" class="tag-item">lorem</a>
								<a href="#" class="tag-item">gps</a></p></td>
                                    <td><p><a href="#" class="tag-item">digital camera</a>
								<a href="#" class="tag-item">lorem</a>
								<a href="#" class="tag-item">gps</a></p></td>
                                    <td><p><a href="#" class="tag-item">digital camera</a>
								<a href="#" class="tag-item">lorem</a>
								<a href="#" class="tag-item">gps</a></p></td>
                                </tr>
                                
                            </table>
                            
                        </div>
                        
                    </div>
                        
                    
				</section>
				<!-- /Main Content -->
				
			</div>
			<!-- /Content -->
			
<include file="Public:footer" />